src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="562df164-9a13-4ef4-a369-4ee971b7982d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="968756ec-544b-464c-8cad-926a6a518297" >
		<http:listener doc:name="Listener" doc:id="473fb1b9-3f82-4874-a662-51e1985f7ccb" config-ref="HTTP_Listener_config" path="test"/>
		<set-payload value='#["Hi."]' doc:name="Set Payload" doc:id="7f25bcdf-7396-471a-b7c4-00560d2356e3" />
	</flow>
</mule>
